{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    
  </head>
  <body>
    <body background="">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
        <div class="container">
            <div class="row justify-content-center">
                
                <div class="col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn"><br></br>
                    <div class="card border-0 shadow">
                        <img src="{% static 'images/profilepic.jpg' %}" alt="...">
                        <div class="card-body p-1-9 p-xl-5">
                            <div class="mb-4">
                                <h3 class="h4 mb-0">Parimal Pawar</h3>
                                <span class="text-primary">Student</span>
                            </div>
                        </br>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-3"><a href=""><i class="far fa-envelope display-25 me-3 text-secondary"></i> parimalpawar12@gmail.com</a></li>
                                <li class="mb-3"><a href=""><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i> - </a></li>
                                <li><a href="#!"><i class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i> Pune,India</a></li>
                            </ul>
                            <ul class="social-icon-style2 ps-0">
                                <li><a href="https://www.linkedin.com/in/parimal-pawar-2619481a0?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BWoTdQi1nS6G0uCLotvXWXA%3D%3D" class="rounded-3"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="https://github.com/parimalongithub" class="rounded-3"><i class="fab fa-github"></i></a></li>

                                <li><a href="https://www.instagram.com/parimaloninsta/" class="rounded-3"><i class="fab fa-instagram"></i></a></li>

                                <li><a href="https://twitter.com/Velocity_8799" class="rounded-3"><i class="fab fa-twitter"></i></a></li>
   
                               
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8"><br></br>
                    <div class="ps-lg-1-6 ps-xl-5">
                        <div class="mb-5 wow fadeIn">
                            <div class="text-start mb-1-6 wow fadeIn">
                                <h2 class="h1 mb-0 text-primary">#About Me</h2>
                            </div>
                            <h5>Hello Iam  Parimal Pawar I am  from pune india currently studying first year of engineering  in the branch of information technology, since childhood I was really passionate  about technology ,I still remember  when i was 6 or 7 my father bought first screen touch phone for my mother and it was Samsung champ, I literally spend my whole day just exploring it it was kind of treat for me. From then my love for tech kept growing exponentially!so as i love tech I wanted to learn more about technology that's why choose engineering as my Education.I like to watch tech video's on youtube and i like to explore differnt UI.</h5>
                            <p class="mb-0">  </p>
                        </div>
                        <div class="mb-5 wow fadeIn">
                            <div class="text-start mb-1-6 wow fadeIn">
                                <h2 class="mb-0 text-primary">#Education</h2>
                            </div>
                            <div class="row mt-n4">
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="ti-bookmark-alt icon-box medium rounded-3 mb-4"></i>
                                            <h3 class="h5 mb-3">Schooling</h3>
                                            <p class="mb-0"> Modern High School pune</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="ti-pencil-alt icon-box medium rounded-3 mb-4"></i>
                                            <h3 class="h5 mb-3">Junior Collage</h3>
                                            <p class="mb-0">Bharat english School pune</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xl-4 mt-4">
                                    <div class="card text-center border-0 rounded-3">
                                        <div class="card-body">
                                            <i class="ti-medall-alt icon-box medium rounded-3 mb-4"></i>
                                            <h3 class="h5 mb-3">Graduation</h3>
                                            <p class="mb-0">Sinhgad collage of engineering,pune</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                </div>
 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>



